<% include ../partials/header %>
    <div class="row">
        <div class="input">
            <h1 class="center">Edit Photo</h1>
            <form action="/<%= currentUser._id %>/photos/<%= photo._id %>?_method=PUT" method="PUT">
                <div class="form-group">
                    <label for="photo[title]">Title</label>
                    <input class="form-control" type="text" name="photo[title]" value="<%= photo.title %>">
                </div>
                <div class="form-group">
                    <label for="photo[image]">Image</label>
                    <input class="form-control" type="text" name="photo[image]" value="<%= photo.image %>"> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
<% include ../partials/footer %>

