<!DOCTYPE>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <div></div>
        <div class="ui main text container segment">
            <div class="ui huge header">Login</div>
            <form class="ui form" action="/login" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" >
                </div>
                <button class="ui teal basic button"  type="submit">Continue</button>
                <p>New User? Create your account <a href="/register">here</a></p>
            </form>
        </div>
    </body>
</html>