body {
	font-family: Roboto;
}

/* input form */
.input {
	width: 30%; 
	margin: 25px auto; 
	padding: 25px;
}

/* center text */
.center {
	text-align: center;
}

/* container */
.box {
	margin: 30px auto;
}

.card {
	margin: 20px;
	width: 100%;
}

.delete-form {
	display: inline-block;
}